#root  {
    display: flex;
    justify-content: center;

    & .App {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 375px;
        box-sizing: border-box;
        height: 100vh;
        font-family: 'Overpass', sans-serif;
    
        & .main {
            padding: 50px 15px;
            background-image: url("../../../public//images/bg-intro-mobile.png");
            background-color: rgba(255, 122, 122, .8);
        }
    }
}

@media screen and (min-width: 1440px) {
    #root  {

        & .App {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1440px;

            & .main {
                display: flex;
                padding: 75px 75px;
            }
        }
    }

    .form {
        width: 50%;
        max-width: 600px;
        padding: 75px;
        box-sizing: border-box;
    }
}