.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    // background-image: url("../../../public//images/bg-intro-mobile.png");
}

.main {
    width: 375px;
    padding: 50px 10px;
    background-image: url("../../../public//images/bg-intro-mobile.png");
    background-color: rgba(255, 122, 122, .8);
}